<launch>
        <node pkg="lijie" type = "planner" name="planner" output="screen">
            <param name="sx" value="8" type="int"/>
            <param name="sy" value="0" type="int"/>
            <param name="sz" value="0" type="int"/>
            <param name="ex" value="1" type="int"/>
            <param name="ey" value="1" type="int"/>
            <param name="ez" value="1" type="int"/>
        </node>
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find planner)/launch/rviz.rviz" required = "true">
        </node>
</launch>